
.cart_name{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1.2rem;
  color: green;
  font-weight: bold;
}

.cart_bottom{
  margin-top: 1rem;
}
.cart_table{
  display: flex;

}

.button_checkout{
  text-align: center;
}