.footer {
  margin-top: 1rem;
  background: url('../../assets/bgfooter.jpg') no-repeat center/ cover;
  position: relative;
}

.footer_wrapper {
  display: flex;
}

.footer_title,
.footer_image {
  text-align: center;
}

.footer_iframe {
  text-align: center;
}

.footer_bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  color: white;
}

.text_copyright {
  color: red;
}