.card_order{
  padding: 0 1rem;
}

.card_order_infor{
  border: 1px dashed var(--color-main);
  padding: 1rem;
}
.text-title{
  color: var(--color-main);
  text-align: center;
  font-size: 1.3rem;
}
.title_order{
  color: var(--color-main);
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}
.text_total_price{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-textred);
}

.col-form-label{
  color: var(--color-textred);
}

.header_order{
  display: flex;
  align-items: center;

  justify-content: space-around;
}