.footer {
  margin-top: 1rem;
  background: url('../../../assets/bgfooter.jpg') no-repeat center/ cover;
  position: relative;
}

.footer_wrapper {
  display: flex;
}

.footer_title,
.footer_image {
  text-align: center;
}

.footer_iframe {
  text-align: center;
}

.footer_bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  color: white;
}

.text_copyright {
  color: red;
}


.footer_content_text{
  color: var(--color-textwhite);
  padding: 4px 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;

}
