.order_infor_heading{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #6bd16b;
  margin: 1rem 0;
}


.order_infor_thanks{
  font-size: 1.2rem;
  color: red;
}

.order_detail_li{
  font-weight: 500;
  margin-top: 1rem;

}

.order_detail_span{
  color: red;
  font-weight: 400;
}

.checkout_title{
  color: red;
}

.checkout_input{
  padding: 10px 20px;
  border-radius: 0px 25px 0px 25px;
  border: 2px solid var(--color-main);
  outline: none;
  box-shadow: 4px 4px 1px 1px #b0e9c1;
}

.name_product_table{
  color: var(--color-textred);
  font-weight: 500;
}