
.product_list{
  width: 100%;
}

.product_body_flex{
  display: flex;
}

.product_list{
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 1rem;

}

.product_link{
  text-decoration: none;
}
.product_image{
  overflow: hidden;
  object-fit: cover;

  position: relative;

}

.product_icon_sale{
  position: absolute;
  z-index: 10;
  top: 1rem;
  transform: rotate(330deg);
}

.product_icon_soldout{
  position: absolute;
  z-index: 13;
  top: 0;
  right: 0;
}

.product_price_sell{
  color: var(--color-main);
}
.product_price_virtual{
  color: var(--color-textred);
  text-decoration-line: line-through;

}

.btn_addtocart{
  background-color: var(--color-main);
  padding: 10px 14px;
  color: white;
  border-radius: 50%;
}

.product_img{
  max-width: 100%;
  text-align: center;
  object-fit: cover;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.product_image :hover{
  transform: scale(1.2);

}

.product_content{
  padding: 0.6rem;
}
.product_title{
  text-align: center;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  color: var(--color-main);
}
.product_content > p:hover{
  color: var(--color-textred);
}

.product_bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.notFindProduct{
  text-align: center;
  
}

.box_filter_allproduct{
  display: flex;
  justify-content: end;
  margin-right: 1rem;
  padding-top: 1rem;
}

.option_sort{
  border: 1px solid var(--color-main);
  margin-right: 1rem;
  border-radius: 25px 0px 25px 0px;
  padding: 10px 20px;

}
.option_sort:active{
  outline: none;
}