.statistics{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-main);
  border: 2px solid var(--color-textwhite);
  border-radius: 1rem ;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--color-textwhite);
}

.statistics_wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;

}

.statistics_icon{
  font-size: 3rem;
  color: var(--color-textwhite);
}
.statistics_value{
  color: var(--color-textred);
  font-weight: bold;
  font-size: 1.3rem;
}