
.category_title{
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 2rem;
  font-weight: 400;
}

.category_link{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.category_link :hover{
  color: red;
}

.icon{
  margin-right: 1rem;
}

.category_item{
  margin: 10px 0px;
  border-radius: 25px 0px 25px 0px;
  border: 2px solid #6bd16b;
  box-shadow: 5px 5px 2px rgb(230, 255, 237);
}
.category_item :hover{
  background: #6bd16b;
  color: white;
  border-radius: 25px 0px 25px 0px;
  cursor: pointer;
}